.Gameboard {
    display: inline-block; 
    width: 33%.3;
    height: 653px;
    padding-top: 50px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    vertical-align: middle; 
}

.Button{
    display: inline-block;
    height: 33.3%;
    width: 33%;
    background-color: White;
    padding: 0px;
    margin: 0px; 
    vertical-align: middle;
}

.outerDiv{
    padding-top: 100px;
    flex-direction: row;
    height: 360px;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    display: flex;
}

.emptyDiv{
    display: inline-block;
    width: 33.3%;
    height: 400px;
    padding-top: 100px; 
    vertical-align: middle;
    text-align: center;
}



