.Gameboard {
    display: inline-block; 
    width: 33%;
    height: 653px;
    padding-top: 50px;
    font-weight: bold;
}

.Button{
    display: inline-block;
    height: 33.3%;
    width: 33%;
    background-color: White;
    
}

.outerDiv{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    height: 360px;
}

.emptyDiv{
    display: inline-block;
    width: 33%;
}



